{% extends '_base.html' %}

{% block page_title %}
H O M E 🔥
{% endblock page_title %}


{% block page_content %}
    <div class="container">
        <div class="row">
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title"><b>post-title</b></h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="{% url 'viewPost' 1%}" class="btn btn-primary">view post</a>
                </div>
              </div>
        </div>
    </div>
{% endblock page_content %}